<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新闻中心</title>
    <link rel="stylesheet" href="./demo3.css">
    <link rel="stylesheet" href="../common/common.css">
</head>
<body>
    <!-- top   是头部的部分 -->
    <div class="top">
        <div class="top-left "> 
            <img src="../../imge/logo.jpg">
        </div>

        <div  class="top-nav ">
            <a href="../../demo.html">  <span>  首页      </span>     </a>
            <a href="../demo1/index.html">  <span>  关于我们  </span>     </a>
            <a href="../demo2/index.html">  <span>  产品展示  </span>     </a>
            <a href="#">  <span>  新闻中心  </span>     </a>
            <a href="../demo4/index.html">  <span>  供求信息  </span>     </a>
            <a href="../demo5/index.html">  <span>  销售网络  </span>     </a>
            <a href="../demo6/index.html">  <span>  联系我们  </span>     </a>
        </div>
    </div>

    <!-- 背景 -->
    <div class="banner">
        <img src="./image/1.jpg">
    </div>

    <div class="body-top">
        <ul class="tabulate">
            <li>走进金海威</li>
            <li>企业文化</li>
        </ul>
    </div>

    <div class="center">
            <iframe src="./template/default.html" frameborder="0"></iframe>
    </div>

    <div class="center">
        <div class="dibubox">
            <div>上一页</div>
            <ul>
            </ul>
            <div>下一页</div>
        </div>
    </div>

    <div class="qc"></div>

     <!-- 底部 -->
     <div class="bottom ">
        <div class="center bottom-box">
             <div class="bottom-top">
                 <div class="bottom-top-left">
                     <ul>
                         <li>
                             <ol>
                                 <li>
                                     <a href="#">产品展示</a>
                                 </li>
                                 <li>
                                     <a href="#">粉末处理</a>
                                 </li>
                                 <li>
                                     <a href="#">冷压成型</a>
                                 </li>
                                 <li>
                                     <a href="#">热压烧结</a>
                                 </li>
                                 <li>
                                     <a href="#">刀头测量分选</a>
                                 </li>
                                 <li>
                                     <a href="#">焊接</a>
                                 </li>
                                 <li>
                                     <a href="#">后处理</a>
                                 </li>
                                 <li>
                                     <a href="#">附件</a>
                                 </li>
                             </ol>
                         </li>
 
                         <li>
                             <ol>
                                 <li>
                                     <a href="#">产品展示</a>
                                 </li>
                                 <li>
                                     <a href="#">粉末处理</a>
                                 </li>
                                 <li>
                                     <a href="#">冷压成型</a>
                                 </li>
                                 <li>
                                     <a href="#">热压烧结</a>
                                 </li>
                                 <li>
                                     <a href="#">刀头测量分选</a>
                                 </li>
                                 <li>
                                     <a href="#">焊接</a>
                                 </li>
                                 <li>
                                     <a href="#">后处理</a>
                                 </li>
                             </ol>
                         </li>
 
                         <li>
                             <ol>
                                 <li>
                                     <a href="#">新闻中心</a>
                                 </li>
                                 <li>
                                     <a href="#">公司新闻</a>
                                 </li>
                                 <li>
                                     <a href="#">行业动态</a>
                                 </li>
                             </ol>
                         </li>
 
                         <li>
                             <ol>
                                 <li>
                                     <a href="#">销售网络</a>
                                 </li>
                                 <li>
                                     <a href="#">国内销售</a>
                                 </li>
                                 <li>
                                     <a href="#">国际销售</a>
                                 </li>
                                 <li>
                                     <a href="#">服务流程</a>
                                 </li>
                             </ol>
                         </li>
                     </ul>
                 </div>
             
                 <div class="bottom-top-right">
                     <ol>
                         <li>
                             联系方式
                         </li>
                         <li>
                             地址：郑州高新技术产业开发区冬青街71号
                         </li>
                         <li>
                             电话：0371-67858801 67858803
                         </li>
                         <li>
                             传真：0371-67858802
                         </li>
                         <li>
                             <a href="#">E-mail:sales@goldenhw.com.cn</a>
                         </li>
                     </ol>
                 </div>
             </div>
 
             <div class="bottom-bottom">
                 Copyright ©2016 郑州金海威科技实业有限公司 All rights reserved.   豫ICP备05017007号
                 <span>
                     <a href="https://www.300.cn/">网站建设：中企动力郑州</a>  
                 </span>
             </div>
        </div>
     </div>

     <script>
        const lis = document.querySelector(".tabulate").children
        const ifae = document.querySelector("iframe")

        const arr = ["./template/1.html","./template/2.html"]
        //  点击切换iframe 的src路径 
        for(let i=0;i<lis.length;i++){
            lis[i].onclick = function(){
                ifae.src = arr[i]
            }
        }

        const ul = document.querySelector(".dibubox ul")
        const li1 = document.createElement("li")
        const li2 = document.createElement("li")
        const li3 = document.createElement("li")
        const li4 = document.createElement("li")
        const arrr =[li1,li2,li3,li4]

        function fn(father,arr){         
            for(let i = 0; i < arr.length; i++) {
                arr[i].innerHTML = i+1
                father.appendChild(arr[i]);
            }
        }       
        fn(ul,arrr)
        
     </script>
</body>
</html>