.body-top{
    width: 100%;
    height: 50px;
    background: rgb(243, 240, 240);
    min-width: 1200px;
  }
  .body-top .tabulate {
    max-width: 1200px;
    margin: 0 auto;
  }
  .tabulate>li {
    width: 200px;
    float: left;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }
  .tabulate>li:hover{
    width: 200px;
    height: 100%;
    background: #fff;
  }
    .xs{
      display: block;
    }
    .yc{
      display:none
    }

    .box-ly{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .box-ly li{
        flex: 1;
        margin-top: 20px;
    }
    .box-ly li:nth-child(2){
        display: flex;
    }
    .box-ly li:nth-child(2)>div{
        flex: 1;
        margin-left: 50px;
    }
    .box-ly li:nth-child(2)>div input{
        width: 100%;
        line-height: 30px;
        padding-left: 20px;
        border: 1px solid #ddd;
    }
    .box-ly li:nth-child(2)>div input:focus{
        border: 1px solid aqua;
    }
    .box-ly li:nth-child(2)>div:first-child{
        margin: 0;
    }
    .box-ly button{
        width: 100%;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        background: rgb(26, 26, 151);
        color: #fff;
    }

    .box-ly textarea{
        border: 1px solid #ddd;
        padding: 5px 10px;
        width: 100%;
        height: 200px;
        resize: none;
        font-size: 18px;
    }
    .box-ly textarea:focus{
        border: 1px solid aqua;
    }

    .box>div{
        margin: 40px 0 80px;
    }
    .box h1{
        text-align: center;
        padding-bottom: 20px;
        margin: 40px 0;
        font-size: 30px;
        border-bottom: 1px solid #ddd;
    }

    
   #map iframe{
       width: 100%;
       height: 400px;
       margin-top: 20px;
   }