<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../common/common.css">
    <style>
      
        h1{
            line-height: 50px;
            font-size: 30px;
            margin: 20px 0;
            padding-bottom: 20px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        li{
            line-height: 40px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div>
        <h1>   供应钻头焊接机--郑州金海威科技实业有限公司  </h1>
        <ul>
            <li>  适用范围(Apply area):             </li>
            <li>  本设备主要用于高频焊接薄壁钻。    </li>
            <li>  主要特点(Main features):          </li>
            <li>  ● 手动焊接薄壁钻。                </li>
            <li>  ● 钻头旋转方便，定位准确。        </li>
        </ul>
    </div>

</body>
</html>